<div class="row">
  <div class="col-sm-4 col-md-3">

    <section class="panel hidden-xs trans-flat">
      <div class="panel-heading b-b">
        <a href="#" class="font-bold">Top Shout'ers</a>
      </div>
      <ul class="list-group list-group-lg no-bg auto">                          

        <% @users.each do |user| %>
          <span href="#" class="list-group-item clearfix">
            <small href="#" class="btn btn-xs btn-success m-t-xs pull-right">Follow</small>
            <span class="pull-left thumb-sm avatar m-r">
              <img src="images/a4.png" alt="...">
              <i class="on b-white bottom"></i>
            </span>
            <span class="clear">
              <span class="font-bold">Chris Fox</span>
              <small class="text-muted clear text-ellipsis">Come online and we need talk about the plans that we have discussed</small>
            </span>
          </span>
        <% end %>

      </ul>
    </section>

  </div>
  <div class="col-sm-8 col-md-6">

    <%= render 'form' %>

    <section class="panel">
      <div class="panel-heading b-b">
        <span class="badge bg-primary pull-right">10</span>
        <a href="#" class="font-bold">Shouts</a>
      </div>

      <ul class="list-group list-group-lg no-bg auto" id="shouts">                          
        <% @shouts.each do |shout| %>
          <%= link_to shout_path(shout), class: "list-group-item clearfix shout" do %>
            <small class="pull-right text-muted"><%= shout.created_at %></small>
            <span class="pull-left thumb-sm avatar m-r">
              <%= image_tag avatar_url shout.user, 200 %>
              <i class="on b-white bottom"></i>
            </span>
            <span class="">
              <span class="username">
                <span class="font-bold"><%= shout.user.full_name %></span>
                <span class="text-muted"><%= shout.user.email %></span>
              </span>
              <p class="shout-text clear"><%= shout.text %></p>
            </span>
          <% end %>
        <% end %>
      </ul>
    </section>

  </div>

  <div class="col-sm-4 hidden-sm col-md-3">

    <section class="panel hidden-xs trans-flat">
      <div class="panel-heading b-b">
        <a href="#" class="font-bold">Shout Request</a>
      </div>
      <ul class="list-group list-group-lg no-bg auto">                          

        <% @users.each do |user| %>
          <span href="#" class="list-group-item clearfix">
            <small href="#" class="btn btn-xs btn-success m-t-xs pull-right">Accept</small>
            <span class="pull-left thumb-sm avatar m-r">
              <img src="images/a4.png" alt="...">
              <i class="on b-white bottom"></i>
            </span>
            <span class="clear">
              <span class="font-bold"><%= user.full_name %></span>
              <small class="text-muted clear text-ellipsis">Come online and we need talk about the plans that we have discussed</small>
            </span>
          </span>
        <% end %>

      </ul>
    </section>

  </div>
</div>
