

<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |form| %>

      <div class="m-b-md">
      <%= devise_error_messages! %>
        
      </div>

      <section class="panel panel-default">
        <header class="panel-heading font-bold">Edit account</header>
        <div class="panel-body">

            <div class="form-group">
              <%= form.label "Email address", class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <%= form.email_field :email, class: "form-control", placeholder: "Email" %>
              </div>
            </div>

            <div class="form-group">
              <%= form.label "Full name", class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <%= form.text_field :full_name, class: "form-control", placeholder: "Full name" %>
              </div>
            </div>

            <div class="form-group">
              <%= form.label "Zip code", class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <%= form.number_field :zip_code, class: "form-control", placeholder: "Zip code" %>
              </div>
            </div>

            <div class="form-group">
              <%= form.label "Instagram", class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <p id="social-buttons">
                  <a href="#" class="btn btn-rounded btn-sm btn-primary">
                    <i class="fa fa-fw fa-instagram"></i> Connect your <span class="font-bold">Instagram account</span>
                  </a>
                </p>
              </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
              <div class="col-sm-12">
                <p class="font-bold">Change password</p>
              </div>
            </div>

            <div class="form-group">
              <%= form.label :password, class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
              </div>
            </div>
            
            <div class="form-group">
              <%= form.label "Confirmation", class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Password confirmation" %>
              </div>
            </div>

        </div>
        <footer class="panel-footer text-right bg-light lter">
          <button type="submit" class="btn btn-sm btn-success">Update Account</button>
        </footer>
      </section><!-- .panel -->
    <% end %>
  </div>
</div>