<section id="content" class="wrapper-md animated fadeInUp">    
  <div class="container aside-xl">

    <%= devise_error_messages! %>

    <section class="m-b-lg">
      <header class="wrapper text-center">
        <strong>Sign up</strong>
      </header>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
        <form action="index.html">
          <div class="list-group">
            <div class="list-group-item">
              <%= form.email_field :email, autocomplete: :off, class: "form-control no-border", placeholder: "Email address" %>
            </div>

            <div class="list-group-item">
              <%= form.password_field :password, autocomplete: :off, class: "form-control no-border", placeholder: "Password" %>
            </div>

            <div class="list-group-item">
              <%= form.password_field :password_confirmation, autocomplete: :off, class: "form-control no-border", placeholder: "Confirm Password" %>
            </div>
          </div>

          <%= form.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>

          <div class="line line-dashed"></div>
          <p class="text-muted text-center">
            <small>Already have an account?</small>
            <%= link_to "Sign In", new_user_session_path %>
          </p>
        </form>
      <% end %>
      
    </section>

  </div><!-- .container -->
</section>